# "Pythonic"
* Rick: "I'm a Java programmer and I taught myself some Python, but my Python looks like Java."
  * in other words, his code was not Pythonic, it was conforming to the ways people typically write Python code
* if an object is difficult to work with in its current form, try converting it to another form that makes it easier
* __`thing[-1]`__ is always the last item in the container __`thing`__
  * __`thing[-n]`__ is nth item from the end
* __`container[-n:]`__ means the last n items in the container
* __`container[:n]`__ means the first n items in the container
* __`container[::-1]`__ means a reversed version of the container
* don't use indexing when you don't need it
* use an _ as the loop variable when you just want you loop to repeat a certain number of times,
  * e.g., __`for _ in range(10)`__ means "do this 10 times"

# General programming principles
* you read code 10x as often as you write code
  * you want to be sure you can read other people's code
* choose good variable names
   * BAD: c, q, p, cpo
   * GOOD cost, quantity, price, cost_per_ounce
* "Programs are written for others to read and only incidentally for machines to execute" –Hal Abelson
* Eagleson's Law: "Any code you wrote longer than 6 months ago might as well have been written by someone else"
* The 3 banes of existence for programmers are:
  1. uninitialized / incorrectly initialized variables
  2. off by one errors
* DRY = Don't Repeat Yourself

# Stuff about Python
* Python's raison d'être is data manipulation–strings, text, file, etc.
* everything in Python is an object
  1. everything exists in memory and we can inspect it
     * e.g., variables, functions, modules (libraries)
  2. everthing consists of "fields"/attributes and may also include functions
* Python containers vs. scalars 
  * "scalars"-a single value
    * int, float, bool
  * "containers"–hold 0+ values
    * str, list, tuple, dict
* Mutable vs. Immutable objects
  * immutable: str, tuple
  * mutable: list, dict
* Python is "duck typed"
  * "If it walks like a duck and it quacks like a duck, I'm going to call it a duck"
  * functions frequently don't restrict the type of their argument(s), instead they look for the argument(s) to have some feature or attribute (e.g., __`max`__ allows any type arguments that are comparable, low to high
* built-in functions (e.g., __`print`__, __`len`__, __`str`__) DO NOT change the objects that are passed to them
  * if you want to change an object, you must call/invoke/apply a method to that object
  * not all methods change the object they are applied to (or called on)
* Python allows "truthiness" in a Boolean context
  * non-zero values are "considered to be" True in a Boolean context
  * 0 and 0.0 are considered False in a Boolean context
  * non-empty containers are considered to be True " " " "
  * empty containers are " " " False " " " "

# Mechanical Sympathy
* if you want to be an expert at something you should understand how it works under the hood

In [73]:
x = 1
y = 1
id(x), id(y)

(140537772566832, 140537772566832)

In [71]:
id(1)

140537772566832

In [74]:
s1 = 'this'
s2 = 'this'

In [75]:
id(s1), id(s2)

(140536698938480, 140536698938480)

In [77]:
s1 = 'this!'
s2 = 'this!'

In [78]:
id(s1), id(s2)

(140537776377712, 140536436833968)

In [1]:
name = 'Bruce Lee'

In [3]:
id(name)

140536297939056

In [4]:
year = 1973

In [5]:
id(year)

140536297946736

In [6]:
id(print)

140537772876720

In [7]:
id(id)

140537772871488

In [8]:
2 + 3

5

In [9]:
import math

In [10]:
dir()

['In',
 'Out',
 '_',
 '_2',
 '_3',
 '_5',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'math',
 'name',
 'quit',
 'year']

In [11]:
id(math)

140536967369168

In [12]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [13]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.9/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/dave-wadestein/opt/anaconda3/lib/python3.9/lib-dynload/math.cpython-39-darwin.so

In [14]:
quantity = 4 # integer

In [16]:
quantity = 'Dave' # string

In [17]:
quantity

'Dave'

In [18]:
type(quantity)

str

In [19]:
# operators are often overloaded, they have multiple meanings depending on context
2 + 3

5

In [20]:
2.0 + 3.0

5.0

In [21]:
'2' + '3'

'23'

In [22]:
str(1)

'1'

In [23]:
str(1.1)

'1.1'

In [24]:
str('string')

'string'

In [25]:
str(print)

'<built-in function print>'

In [26]:
str(math)

"<module 'math' from '/Users/dave-wadestein/opt/anaconda3/lib/python3.9/lib-dynload/math.cpython-39-darwin.so'>"

In [27]:
number = 1.33e14

In [28]:
number

133000000000000.0

In [29]:
number = 133000000000000.0

In [30]:
number

133000000000000.0

In [31]:
type(number)

float

In [32]:
str(number)

'133000000000000.0'

In [35]:
cost = 2.

In [34]:
cost, type(cost)

(2.0, float)

In [36]:
name = 'Margaret Hamilton'

In [37]:
name # tell me the value (Python is very specific)

'Margaret Hamilton'

In [38]:
print('The woman who wrote the code for Apollo XI is', name)

The woman who wrote the code for Apollo XI is Margaret Hamilton

In [39]:
2 + 3

5

In [40]:
'2' + '3'

'23'

In [41]:
name

'Margaret Hamilton'

In [42]:
print('3 concatenated to 2 is', '2' + '3')

3 concatenated to 2 is 23

In [43]:
type(1)

int

In [44]:
print(type(1))

<class 'int'>

In [45]:
name

'Margaret Hamilton'

In [46]:
print('My name is', name)

My name is Margaret Hamilton

In [52]:
value = 5

In [53]:
print(value)
print(3)

5
3

In [58]:
str(53.3)

'53.3'

In [59]:
str(False)

'False'

In [62]:
str(false)

'true'

In [63]:
int('300')

300

In [64]:
int('30x')

ValueError: invalid literal for int() with base 10: '30x'

In [65]:
type(False)

bool

In [66]:
type('False')

str

In [67]:
type(3.5)

float

In [54]:
cost = 1

In [57]:
import keyword # import the 'keyword' module/library
keyword.kwlist # look at the list of keywords

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [79]:
len('string')

6

In [80]:
len(4)

TypeError: object of type 'int' has no len()

In [85]:
'R' in 'Starbucks'

False

In [84]:
'buck' in 'Starbucks'

True

In [ ]:
(2 + 3) * 4 # PEMDAS Parentheses BODMAS

In [88]:
2 ** (3 ** 4)

2417851639229258349412352

In [87]:
(2 ** 3) ** 4

4096

In [ ]:
if 5 < 10 or 5 > 3:
    print('something')

In [89]:
import random

In [113]:
id(random), id(print)

(140537773671904, 140537772876720)

In [91]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [92]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [112]:
random.randint(1, 6)

4

In [114]:
import math

In [115]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [116]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.9/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/dave-wadestein/opt/anaconda3/lib/python3.9/lib-dynload/math.cpython-39-darwin.so

In [117]:
23 / 0

ZeroDivisionError: division by zero

In [118]:
15 % 2

1

In [119]:
15 % 3

0

In [121]:
17 % 2

1

## Quick Lab: Loops/Strings
* have the user enter a string, then loop through the string to generate (or print) a new string in which every character is duplicated, e.g., "Python" => "PPyytthhoonn"

In [122]:
# steps to solve this problem
# 1. get a string from the user
# 2. for each letter/character in the string:
# 3.    write out the letter TWICE (next to each other)

In [132]:
string = input('Enter a string: ') # 1
for letter in string: # 2
    print(letter * 2, end='') # 3 (print letter twice, don't go to next line)

Enter a string:  Swift

SSSwwwiiifffttt

In [131]:
# Another solution...
# there are many ways to "print twice"
for letter in string: # 2
    print(letter + letter, end='')

TTaayylloorr

In [136]:
# and another...
for letter in string: # 2
    print(letter, letter, sep='', end='') # nothing following each print, nothing at

SSwwiifftt

In [138]:
for letter in string: # 2
    print(letter, end=letter)

SSwwiifftt

In [140]:
# Duplicate any character EXCEPT for spaces
string = input('Enter a string: ') # 1
for char in string: # 2
    to_print = ' '
    if char != ' ':
        to_print = char * 2
    print(to_print, end='')

Enter a string:  this is a test

tthhiiss iiss aa tteesstt

In [127]:
# 1. take the problem and break it down into steps 
# 2. write down the steps in order
# 3. convert each step 1 by 1 into Python

In [137]:
# Jason's solution
user_input = input("Enter a string: ")
duplicated_string = "" # empty string

for character in user_input:
    duplicated_string = duplicated_string + character * 2

print("Duplicated String:", duplicated_string)

Enter a string:  Jason

Duplicated String: JJaassoonn

# Bonus rules on how to get better at programming
1. once you have a working solution, try a different way to do it
2. add new features to your code

In [141]:
# "for thing in container"

In [145]:
for thing in 'Python': # for each item in the container
    print(thing)

P
y
t
h
o
n

In [146]:
for letter in 'Python': # for each item in the container
    print(letter)

P
y
t
h
o
n

## (Group) Lab: Loops
* Loop through the numbers from 2 to 25 and print out which numbers are prime, and for those numbers which are not prime numbers, indicate what number divides into it
* prime = no divisors other than 1 and itself
* example output:
<pre>
2 is PRIME
3 is PRIME
4 is divisible by 2
5 is PRIME
6 is divisible by 2
7 is PRIME
8 is divisible by 2
9 is divisible by 3
10 is divisible by 2
11 is PRIME
12 is divisible by 2
13 is PRIME
14 is divisible by 2
15 is divisible by 3
16 is divisible by 2
17 is PRIME
18 is divisible by 2
19 is PRIME
20 is divisible by 2
21 is divisible by 3
22 is divisible by 2
23 is PRIME
24 is divisible by 2
25 is divisible by 5
</pre>

In [147]:
# Steps!!!
# 1. consider each number from 2 to 25 in order
# 2.    consider each possible_divisor from 2 up to number-1
# 3.       check to see if possible_divisor divides in to the number
# 4.       if so, the number is NOT PRIME:
# 5.           write number "is divisible by" possible_divisor
# 6.           stop checking
# 7.    if we didn't find a divisor above, then
# 8.           write number, 'is PRIME'

In [ ]:
# Our first cut at the steps should be mostly English
# the goal is to hand it to someone else and have them
# be able to follow it

# Then we can make a second cut and make it more Python
# 1. for each number 2..25:
# 2.     for each possible_divisor 2..number-1
# 3.         if number % possible_divisor is 0:
# 4.            print number "is divisible by" possible_divisor
# 5.            break
# 6.     At this point we have to figure out how we
# 7.     ...got here (we'll talk about this)
# 8.     if no divisors, print "is PRIME"

In [149]:
for num in range(2, 26): # 1
    print(num, end=': ') # print num followed by ': '
    for possible_divisor in range(2, num
                                 ):
        print(possible_divisor, end=' ')
    print()

2:
3: 2
4: 2 3
5: 2 3 4
6: 2 3 4 5
7: 2 3 4 5 6
8: 2 3 4 5 6 7
9: 2 3 4 5 6 7 8
10: 2 3 4 5 6 7 8 9
11: 2 3 4 5 6 7 8 9 10
12: 2 3 4 5 6 7 8 9 10 11
13: 2 3 4 5 6 7 8 9 10 11 12
14: 2 3 4 5 6 7 8 9 10 11 12 13
15: 2 3 4 5 6 7 8 9 10 11 12 13 14
16: 2 3 4 5 6 7 8 9 10 11 12 13 14 15
17: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
18: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
19: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
20: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
21: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
22: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
23: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
24: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
25: 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [150]:
for num in range(2, 2600): # 1
    is_prime = True
    for possible_divisor in range(2, num): # 2 , 2..num-1
        if num % possible_divisor == 0: # 3
            print(num, 'is divisible by', possible_divisor) # 4
            is_prime = False
            break # 5
    if is_prime: # == True
        print(num, 'is PRIME')

2 is PRIME
3 is PRIME
4 is divisible by 2
5 is PRIME
6 is divisible by 2
7 is PRIME
8 is divisible by 2
9 is divisible by 3
10 is divisible by 2
11 is PRIME
12 is divisible by 2
13 is PRIME
14 is divisible by 2
15 is divisible by 3
16 is divisible by 2
17 is PRIME
18 is divisible by 2
19 is PRIME
20 is divisible by 2
21 is divisible by 3
22 is divisible by 2
23 is PRIME
24 is divisible by 2
25 is divisible by 5
26 is divisible by 2
27 is divisible by 3
28 is divisible by 2
29 is PRIME
30 is divisible by 2
31 is PRIME
32 is divisible by 2
33 is divisible by 3
34 is divisible by 2
35 is divisible by 5
36 is divisible by 2
37 is PRIME
38 is divisible by 2
39 is divisible by 3
40 is divisible by 2
41 is PRIME
42 is divisible by 2
43 is PRIME
44 is divisible by 2
45 is divisible by 3
46 is divisible by 2
47 is PRIME
48 is divisible by 2
49 is divisible by 7
50 is divisible by 2
51 is divisible by 3
52 is divisible by 2
53 is PRIME
54 is divisible by 2
55 is divisible by 5
56 is divisible by 2
57 is divisible by 3
58 is divisible by 2
59 is PRIME
60 is divisible by 2
61 is PRIME
62 is divisible by 2
63 is divisible by 3
64 is divisible by 2
65 is divisible by 5
66 is divisible by 2
67 is PRIME
68 is divisible by 2
69 is divisible by 3
70 is divisible by 2
71 is PRIME
72 is divisible by 2
73 is PRIME
74 is divisible by 2
75 is divisible by 3
76 is divisible by 2
77 is divisible by 7
78 is divisible by 2
79 is PRIME
80 is divisible by 2
81 is divisible by 3
82 is divisible by 2
83 is PRIME
84 is divisible by 2
85 is divisible by 5
86 is divisible by 2
87 is divisible by 3
88 is divisible by 2
89 is PRIME
90 is divisible by 2
91 is divisible by 7
92 is divisible by 2
93 is divisible by 3
94 is divisible by 2
95 is divisible by 5
96 is divisible by 2
97 is PRIME
98 is divisible by 2
99 is divisible by 3
100 is divisible by 2
101 is PRIME
102 is divisible by 2
103 is PRIME
104 is divisible by 2
105 is divisible by 3
106 is divisible by 2
107 is PRIME
108 is divisible by 2
109 is PRIME
110 is divisible by 2
111 is divisible by 3
112 is divisible by 2
113 is PRIME
114 is divisible by 2
115 is divisible by 5
116 is divisible by 2
117 is divisible by 3
118 is divisible by 2
119 is divisible by 7
120 is divisible by 2
121 is divisible by 11
122 is divisible by 2
123 is divisible by 3
124 is divisible by 2
125 is divisible by 5
126 is divisible by 2
127 is PRIME
128 is divisible by 2
129 is divisible by 3
130 is divisible by 2
131 is PRIME
132 is divisible by 2
133 is divisible by 7
134 is divisible by 2
135 is divisible by 3
136 is divisible by 2
137 is PRIME
138 is divisible by 2
139 is PRIME
140 is divisible by 2
141 is divisible by 3
142 is divisible by 2
143 is divisible by 11
144 is divisible by 2
145 is divisible by 5
146 is divisible by 2
147 is divisible by 3
148 is divisible by 2
149 is PRIME
150 is divisible by 2
151 is PRIME
152 is divisible by 2
153 is divisible by 3
154 is divisible by 2
155 is divisible by 5
156 is divisible by 2
157 is PRIME
158 is divisible by 2
159 is divisible by 3
160 is divisible by 2
161 is divisible by 7
162 is divisible by 2
163 is PRIME
164 is divisible by 2
165 is divisible by 3
166 is divisible by 2
167 is PRIME
168 is divisible by 2
169 is divisible by 13
170 is divisible by 2
171 is divisible by 3
172 is divisible by 2
173 is PRIME
174 is divisible by 2
175 is divisible by 5
176 is divisible by 2
177 is divisible by 3
178 is divisible by 2
179 is PRIME
180 is divisible by 2
181 is PRIME
182 is divisible by 2
183 is divisible by 3
184 is divisible by 2
185 is divisible by 5
186 is divisible by 2
187 is divisible by 11
188 is divisible by 2
189 is divisible by 3
190 is divisible by 2
191 is PRIME
192 is divisible by 2
193 is PRIME
194 is divisible by 2
195 is divisible by 3
196 is divisible by 2
197 is PRIME
198 is divisible by 2
199 is PRIME
200 is divisible by 2
201 is divisible by 3
202 is divisible by 2
203 is divisible by 7
204 is divisible by 2
205 is divisible by 5
206 is divisible by 2
207 is divisible by 3
208 is divisible by 2
209 is divisible by 11
210 is divisible by 2
211 is PRIME
212 is divisible by 2
213 is divisible by 3
214 is divisible by 2
215 is divisible by 5
216 is divisible by 2
217 is divisible by 7
218 is divisible by 2
219 is divisible by 3
220 is divisible by 2
221 is divisible by 13
222 is divisible by 2
223 is PRIME
224 is divisible by 2
225 is divisible by 3
226 is divisible by 2
227 is PRIME
228 is divisible by 2
229 is PRIME
230 is divisible by 2
231 is divisible by 3
232 is divisible by 2
233 is PRIME
234 is divisible by 2
235 is divisible by 5
236 is divisible by 2
237 is divisible by 3
238 is divisible by 2
239 is PRIME
240 is divisible by 2
241 is PRIME
242 is divisible by 2
243 is divisible by 3
244 is divisible by 2
245 is divisible by 5
246 is divisible by 2
247 is divisible by 13
248 is divisible by 2
249 is divisible by 3
250 is divisible by 2
251 is PRIME
252 is divisible by 2
253 is divisible by 11
254 is divisible by 2
255 is divisible by 3
256 is divisible by 2
257 is PRIME
258 is divisible by 2
259 is divisible by 7
260 is divisible by 2
261 is divisible by 3
262 is divisible by 2
263 is PRIME
264 is divisible by 2
265 is divisible by 5
266 is divisible by 2
267 is divisible by 3
268 is divisible by 2
269 is PRIME
270 is divisible by 2
271 is PRIME
272 is divisible by 2
273 is divisible by 3
274 is divisible by 2
275 is divisible by 5
276 is divisible by 2
277 is PRIME
278 is divisible by 2
279 is divisible by 3
280 is divisible by 2
281 is PRIME
282 is divisible by 2
283 is PRIME
284 is divisible by 2
285 is divisible by 3
286 is divisible by 2
287 is divisible by 7
288 is divisible by 2
289 is divisible by 17
290 is divisible by 2
291 is divisible by 3
292 is divisible by 2
293 is PRIME
294 is divisible by 2
295 is divisible by 5
296 is divisible by 2
297 is divisible by 3
298 is divisible by 2
299 is divisible by 13
300 is divisible by 2
301 is divisible by 7
302 is divisible by 2
303 is divisible by 3
304 is divisible by 2
305 is divisible by 5
306 is divisible by 2
307 is PRIME
308 is divisible by 2
309 is divisible by 3
310 is divisible by 2
311 is PRIME
312 is divisible by 2
313 is PRIME
314 is divisible by 2
315 is divisible by 3
316 is divisible by 2
317 is PRIME
318 is divisible by 2
319 is divisible by 11
320 is divisible by 2
321 is divisible by 3
322 is divisible by 2
323 is divisible by 17
324 is divisible by 2
325 is divisible by 5
326 is divisible by 2
327 is divisible by 3
328 is divisible by 2
329 is divisible by 7
330 is divisible by 2
331 is PRIME
332 is divisible by 2
333 is divisible by 3
334 is divisible by 2
335 is divisible by 5
336 is divisible by 2
337 is PRIME
338 is divisible by 2
339 is divisible by 3
340 is divisible by 2
341 is divisible by 11
342 is divisible by 2
343 is divisible by 7
344 is divisible by 2
345 is divisible by 3
346 is divisible by 2
347 is PRIME
348 is divisible by 2
349 is PRIME
350 is divisible by 2
351 is divisible by 3
352 is divisible by 2
353 is PRIME
354 is divisible by 2
355 is divisible by 5
356 is divisible by 2
357 is divisible by 3
358 is divisible by 2
359 is PRIME
360 is divisible by 2
361 is divisible by 19
362 is divisible by 2
363 is divisible by 3
364 is divisible by 2
365 is divisible by 5
366 is divisible by 2
367 is PRIME
368 is divisible by 2
369 is divisible by 3
370 is divisible by 2
371 is divisible by 7
372 is divisible by 2
373 is PRIME
374 is divisible by 2
375 is divisible by 3
376 is divisible by 2
377 is divisible by 13
378 is divisible by 2
379 is PRIME
380 is divisible by 2
381 is divisible by 3
382 is divisible by 2
383 is PRIME
384 is divisible by 2
385 is divisible by 5
386 is divisible by 2
387 is divisible by 3
388 is divisible by 2
389 is PRIME
390 is divisible by 2
391 is divisible by 17
392 is divisible by 2
393 is divisible by 3
394 is divisible by 2
395 is divisible by 5
396 is divisible by 2
397 is PRIME
398 is divisible by 2
399 is divisible by 3
400 is divisible by 2
401 is PRIME
402 is divisible by 2
403 is divisible by 13
404 is divisible by 2
405 is divisible by 3
406 is divisible by 2
407 is divisible by 11
408 is divisible by 2
409 is PRIME
410 is divisible by 2
411 is divisible by 3
412 is divisible by 2
413 is divisible by 7
414 is divisible by 2
415 is divisible by 5
416 is divisible by 2
417 is divisible by 3
418 is divisible by 2
419 is PRIME
420 is divisible by 2
421 is PRIME
422 is divisible by 2
423 is divisible by 3
424 is divisible by 2
425 is divisible by 5
426 is divisible by 2
427 is divisible by 7
428 is divisible by 2
429 is divisible by 3
430 is divisible by 2
431 is PRIME
432 is divisible by 2
433 is PRIME
434 is divisible by 2
435 is divisible by 3
436 is divisible by 2
437 is divisible by 19
438 is divisible by 2
439 is PRIME
440 is divisible by 2
441 is divisible by 3
442 is divisible by 2
443 is PRIME
444 is divisible by 2
445 is divisible by 5
446 is divisible by 2
447 is divisible by 3
448 is divisible by 2
449 is PRIME
450 is divisible by 2
451 is divisible by 11
452 is divisible by 2
453 is divisible by 3
454 is divisible by 2
455 is divisible by 5
456 is divisible by 2
457 is PRIME
458 is divisible by 2
459 is divisible by 3
460 is divisible by 2
461 is PRIME
462 is divisible by 2
463 is PRIME
464 is divisible by 2
465 is divisible by 3
466 is divisible by 2
467 is PRIME
468 is divisible by 2
469 is divisible by 7
470 is divisible by 2
471 is divisible by 3
472 is divisible by 2
473 is divisible by 11
474 is divisible by 2
475 is divisible by 5
476 is divisible by 2
477 is divisible by 3
478 is divisible by 2
479 is PRIME
480 is divisible by 2
481 is divisible by 13
482 is divisible by 2
483 is divisible by 3
484 is divisible by 2
485 is divisible by 5
486 is divisible by 2
487 is PRIME
488 is divisible by 2
489 is divisible by 3
490 is divisible by 2
491 is PRIME
492 is divisible by 2
493 is divisible by 17
494 is divisible by 2
495 is divisible by 3
496 is divisible by 2
497 is divisible by 7
498 is divisible by 2
499 is PRIME
500 is divisible by 2
501 is divisible by 3
502 is divisible by 2
503 is PRIME
504 is divisible by 2
505 is divisible by 5
506 is divisible by 2
507 is divisible by 3
508 is divisible by 2
509 is PRIME
510 is divisible by 2
511 is divisible by 7
512 is divisible by 2
513 is divisible by 3
514 is divisible by 2
515 is divisible by 5
516 is divisible by 2
517 is divisible by 11
518 is divisible by 2
519 is divisible by 3
520 is divisible by 2
521 is PRIME
522 is divisible by 2
523 is PRIME
524 is divisible by 2
525 is divisible by 3
526 is divisible by 2
527 is divisible by 17
528 is divisible by 2
529 is divisible by 23
530 is divisible by 2
531 is divisible by 3
532 is divisible by 2
533 is divisible by 13
534 is divisible by 2
535 is divisible by 5
536 is divisible by 2
537 is divisible by 3
538 is divisible by 2
539 is divisible by 7
540 is divisible by 2
541 is PRIME
542 is divisible by 2
543 is divisible by 3
544 is divisible by 2
545 is divisible by 5
546 is divisible by 2
547 is PRIME
548 is divisible by 2
549 is divisible by 3
550 is divisible by 2
551 is divisible by 19
552 is divisible by 2
553 is divisible by 7
554 is divisible by 2
555 is divisible by 3
556 is divisible by 2
557 is PRIME
558 is divisible by 2
559 is divisible by 13
560 is divisible by 2
561 is divisible by 3
562 is divisible by 2
563 is PRIME
564 is divisible by 2
565 is divisible by 5
566 is divisible by 2
567 is divisible by 3
568 is divisible by 2
569 is PRIME
570 is divisible by 2
571 is PRIME
572 is divisible by 2
573 is divisible by 3
574 is divisible by 2
575 is divisible by 5
576 is divisible by 2
577 is PRIME
578 is divisible by 2
579 is divisible by 3
580 is divisible by 2
581 is divisible by 7
582 is divisible by 2
583 is divisible by 11
584 is divisible by 2
585 is divisible by 3
586 is divisible by 2
587 is PRIME
588 is divisible by 2
589 is divisible by 19
590 is divisible by 2
591 is divisible by 3
592 is divisible by 2
593 is PRIME
594 is divisible by 2
595 is divisible by 5
596 is divisible by 2
597 is divisible by 3
598 is divisible by 2
599 is PRIME
600 is divisible by 2
601 is PRIME
602 is divisible by 2
603 is divisible by 3
604 is divisible by 2
605 is divisible by 5
606 is divisible by 2
607 is PRIME
608 is divisible by 2
609 is divisible by 3
610 is divisible by 2
611 is divisible by 13
612 is divisible by 2
613 is PRIME
614 is divisible by 2
615 is divisible by 3
616 is divisible by 2
617 is PRIME
618 is divisible by 2
619 is PRIME
620 is divisible by 2
621 is divisible by 3
622 is divisible by 2
623 is divisible by 7
624 is divisible by 2
625 is divisible by 5
626 is divisible by 2
627 is divisible by 3
628 is divisible by 2
629 is divisible by 17
630 is divisible by 2
631 is PRIME
632 is divisible by 2
633 is divisible by 3
634 is divisible by 2
635 is divisible by 5
636 is divisible by 2
637 is divisible by 7
638 is divisible by 2
639 is divisible by 3
640 is divisible by 2
641 is PRIME
642 is divisible by 2
643 is PRIME
644 is divisible by 2
645 is divisible by 3
646 is divisible by 2
647 is PRIME
648 is divisible by 2
649 is divisible by 11
650 is divisible by 2
651 is divisible by 3
652 is divisible by 2
653 is PRIME
654 is divisible by 2
655 is divisible by 5
656 is divisible by 2
657 is divisible by 3
658 is divisible by 2
659 is PRIME
660 is divisible by 2
661 is PRIME
662 is divisible by 2
663 is divisible by 3
664 is divisible by 2
665 is divisible by 5
666 is divisible by 2
667 is divisible by 23
668 is divisible by 2
669 is divisible by 3
670 is divisible by 2
671 is divisible by 11
672 is divisible by 2
673 is PRIME
674 is divisible by 2
675 is divisible by 3
676 is divisible by 2
677 is PRIME
678 is divisible by 2
679 is divisible by 7
680 is divisible by 2
681 is divisible by 3
682 is divisible by 2
683 is PRIME
684 is divisible by 2
685 is divisible by 5
686 is divisible by 2
687 is divisible by 3
688 is divisible by 2
689 is divisible by 13
690 is divisible by 2
691 is PRIME
692 is divisible by 2
693 is divisible by 3
694 is divisible by 2
695 is divisible by 5
696 is divisible by 2
697 is divisible by 17
698 is divisible by 2
699 is divisible by 3
700 is divisible by 2
701 is PRIME
702 is divisible by 2
703 is divisible by 19
704 is divisible by 2
705 is divisible by 3
706 is divisible by 2
707 is divisible by 7
708 is divisible by 2
709 is PRIME
710 is divisible by 2
711 is divisible by 3
712 is divisible by 2
713 is divisible by 23
714 is divisible by 2
715 is divisible by 5
716 is divisible by 2
717 is divisible by 3
718 is divisible by 2
719 is PRIME
720 is divisible by 2
721 is divisible by 7
722 is divisible by 2
723 is divisible by 3
724 is divisible by 2
725 is divisible by 5
726 is divisible by 2
727 is PRIME
728 is divisible by 2
729 is divisible by 3
730 is divisible by 2
731 is divisible by 17
732 is divisible by 2
733 is PRIME
734 is divisible by 2
735 is divisible by 3
736 is divisible by 2
737 is divisible by 11
738 is divisible by 2
739 is PRIME
740 is divisible by 2
741 is divisible by 3
742 is divisible by 2
743 is PRIME
744 is divisible by 2
745 is divisible by 5
746 is divisible by 2
747 is divisible by 3
748 is divisible by 2
749 is divisible by 7
750 is divisible by 2
751 is PRIME
752 is divisible by 2
753 is divisible by 3
754 is divisible by 2
755 is divisible by 5
756 is divisible by 2
757 is PRIME
758 is divisible by 2
759 is divisible by 3
760 is divisible by 2
761 is PRIME
762 is divisible by 2
763 is divisible by 7
764 is divisible by 2
765 is divisible by 3
766 is divisible by 2
767 is divisible by 13
768 is divisible by 2
769 is PRIME
770 is divisible by 2
771 is divisible by 3
772 is divisible by 2
773 is PRIME
774 is divisible by 2
775 is divisible by 5
776 is divisible by 2
777 is divisible by 3
778 is divisible by 2
779 is divisible by 19
780 is divisible by 2
781 is divisible by 11
782 is divisible by 2
783 is divisible by 3
784 is divisible by 2
785 is divisible by 5
786 is divisible by 2
787 is PRIME
788 is divisible by 2
789 is divisible by 3
790 is divisible by 2
791 is divisible by 7
792 is divisible by 2
793 is divisible by 13
794 is divisible by 2
795 is divisible by 3
796 is divisible by 2
797 is PRIME
798 is divisible by 2
799 is divisible by 17
800 is divisible by 2
801 is divisible by 3
802 is divisible by 2
803 is divisible by 11
804 is divisible by 2
805 is divisible by 5
806 is divisible by 2
807 is divisible by 3
808 is divisible by 2
809 is PRIME
810 is divisible by 2
811 is PRIME
812 is divisible by 2
813 is divisible by 3
814 is divisible by 2
815 is divisible by 5
816 is divisible by 2
817 is divisible by 19
818 is divisible by 2
819 is divisible by 3
820 is divisible by 2
821 is PRIME
822 is divisible by 2
823 is PRIME
824 is divisible by 2
825 is divisible by 3
826 is divisible by 2
827 is PRIME
828 is divisible by 2
829 is PRIME
830 is divisible by 2
831 is divisible by 3
832 is divisible by 2
833 is divisible by 7
834 is divisible by 2
835 is divisible by 5
836 is divisible by 2
837 is divisible by 3
838 is divisible by 2
839 is PRIME
840 is divisible by 2
841 is divisible by 29
842 is divisible by 2
843 is divisible by 3
844 is divisible by 2
845 is divisible by 5
846 is divisible by 2
847 is divisible by 7
848 is divisible by 2
849 is divisible by 3
850 is divisible by 2
851 is divisible by 23
852 is divisible by 2
853 is PRIME
854 is divisible by 2
855 is divisible by 3
856 is divisible by 2
857 is PRIME
858 is divisible by 2
859 is PRIME
860 is divisible by 2
861 is divisible by 3
862 is divisible by 2
863 is PRIME
864 is divisible by 2
865 is divisible by 5
866 is divisible by 2
867 is divisible by 3
868 is divisible by 2
869 is divisible by 11
870 is divisible by 2
871 is divisible by 13
872 is divisible by 2
873 is divisible by 3
874 is divisible by 2
875 is divisible by 5
876 is divisible by 2
877 is PRIME
878 is divisible by 2
879 is divisible by 3
880 is divisible by 2
881 is PRIME
882 is divisible by 2
883 is PRIME
884 is divisible by 2
885 is divisible by 3
886 is divisible by 2
887 is PRIME
888 is divisible by 2
889 is divisible by 7
890 is divisible by 2
891 is divisible by 3
892 is divisible by 2
893 is divisible by 19
894 is divisible by 2
895 is divisible by 5
896 is divisible by 2
897 is divisible by 3
898 is divisible by 2
899 is divisible by 29
900 is divisible by 2
901 is divisible by 17
902 is divisible by 2
903 is divisible by 3
904 is divisible by 2
905 is divisible by 5
906 is divisible by 2
907 is PRIME
908 is divisible by 2
909 is divisible by 3
910 is divisible by 2
911 is PRIME
912 is divisible by 2
913 is divisible by 11
914 is divisible by 2
915 is divisible by 3
916 is divisible by 2
917 is divisible by 7
918 is divisible by 2
919 is PRIME
920 is divisible by 2
921 is divisible by 3
922 is divisible by 2
923 is divisible by 13
924 is divisible by 2
925 is divisible by 5
926 is divisible by 2
927 is divisible by 3
928 is divisible by 2
929 is PRIME
930 is divisible by 2
931 is divisible by 7
932 is divisible by 2
933 is divisible by 3
934 is divisible by 2
935 is divisible by 5
936 is divisible by 2
937 is PRIME
938 is divisible by 2
939 is divisible by 3
940 is divisible by 2
941 is PRIME
942 is divisible by 2
943 is divisible by 23
944 is divisible by 2
945 is divisible by 3
946 is divisible by 2
947 is PRIME
948 is divisible by 2
949 is divisible by 13
950 is divisible by 2
951 is divisible by 3
952 is divisible by 2
953 is PRIME
954 is divisible by 2
955 is divisible by 5
956 is divisible by 2
957 is divisible by 3
958 is divisible by 2
959 is divisible by 7
960 is divisible by 2
961 is divisible by 31
962 is divisible by 2
963 is divisible by 3
964 is divisible by 2
965 is divisible by 5
966 is divisible by 2
967 is PRIME
968 is divisible by 2
969 is divisible by 3
970 is divisible by 2
971 is PRIME
972 is divisible by 2
973 is divisible by 7
974 is divisible by 2
975 is divisible by 3
976 is divisible by 2
977 is PRIME
978 is divisible by 2
979 is divisible by 11

In [151]:
# Bonus feature that not everyone knows
for num in range(2, 26): # 1
    for possible_divisor in range(2, num): # 2 , 2..num-1
        if num % possible_divisor == 0: # 3
            print(num, 'is divisible by', possible_divisor) # 4
            break # 5
    else: # this code is run iff we did not break (i.e., loop terminate normally)
        print(num, 'is PRIME')

2 is PRIME
3 is PRIME
4 is divisible by 2
5 is PRIME
6 is divisible by 2
7 is PRIME
8 is divisible by 2
9 is divisible by 3
10 is divisible by 2
11 is PRIME
12 is divisible by 2
13 is PRIME
14 is divisible by 2
15 is divisible by 3
16 is divisible by 2
17 is PRIME
18 is divisible by 2
19 is PRIME
20 is divisible by 2
21 is divisible by 3
22 is divisible by 2
23 is PRIME
24 is divisible by 2
25 is divisible by 5

In [152]:
str(1)

'1'

In [153]:
str(1.1)

'1.1'

In [154]:
str('string')

'string'

In [155]:
print(1)

1

In [156]:
print(1.1)

1.1

In [157]:
print('1.1')

1.1

In [158]:
len('hi')

2

In [159]:
len(4)

TypeError: object of type 'int' has no len()

In [160]:
n = 1

In [161]:
id(n)

140537772566832

In [162]:
id(id)

140537772871488

In [163]:
id(math)

140536967369168

In [164]:
max(2, 4)

4

In [165]:
max(2, 4, 3)

4

In [166]:
max(1.2, -1.2, 1.99)

1.99

In [167]:
max('this', 'that', 'ok')

'this'

In [168]:
'ok' < 'this'

True

In [169]:
a, b, o, p = 'b', 'a', 'p', 'o'

In [170]:
a

'b'

In [173]:
max('1', a)

'b'

In [174]:
':' < 'A'

True

In [175]:
ord(':')

58

In [176]:
ord('A')

65

In [177]:
ord('a')

97

In [182]:
string = 'testing'

In [183]:
s = 'blah'

In [184]:
s

'blah'

In [185]:
help(s.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [186]:
help(s.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [187]:
s = 'string'

In [188]:
s[0]

's'

In [189]:
s[0] = 'S'

TypeError: 'str' object does not support item assignment

In [190]:
s = 'String'

## Quick Lab: String Functions
* write a Python program to read in a string and then print it out as
  * a title
  * all upper case
  * all lower case
* also, replace all vowels in the string with the letter 'x'
   * you can use the __`.replace()`__ method to replace each vowel, one at a time

In [194]:
# 1. get a string from user
# 2. .title() it
# 3. .upper() it
# 4. .lower() it
# 5. for each vowel in 'aeiou':
# 6.      use .replace() to replace that vowel with 'x'

In [9]:
text = input('Enter some text: ') # 1
print(text.title(), text.upper(), text.lower(), sep='\n') # 2, 3, 4

for vowel in 'aeiou': # 5
    text = text.replace(vowel, 'x') # 6 replace one vowel at a time
    print('After replacing', vowel, '...', text)

Enter some text:  The quick brown fox jumps over the lazy dog

The Quick Brown Fox Jumps Over The Lazy Dog
THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
the quick brown fox jumps over the lazy dog
After replacing a ... The quick brown fox jumps over the lxzy dog
After replacing e ... Thx quick brown fox jumps ovxr thx lxzy dog
After replacing i ... Thx quxck brown fox jumps ovxr thx lxzy dog
After replacing o ... Thx quxck brxwn fxx jumps xvxr thx lxzy dxg
After replacing u ... Thx qxxck brxwn fxx jxmps xvxr thx lxzy dxg

## Lab: String Functions
* write a Python program to read in a string and print it out such that
  * the first, third, fifth, etc. letters are **lower** case
  * the second, fourth, sixth, etc. letters are **UPPER** case
  * e.g., if the input is __Guido van Rossum__, the output would be:
    * __gUiDo vAn rOsSuM__

In [ ]:
# 1. get a string from the user
# 2. for each index of the string, 0..len(string)-1
# 3.     if index is even, print the letter in the string as lower case
# 4.     else (odd) print the letter in the string as upper case

In [1]:
text = input('Enter some text: ') # 1
for index in range(0, len(text)): # 2
    if index % 2 == 0: # 3
        print(text[index].lower(), end='')
    else:
        print(text[index].upper(), end='')

something

In [2]:
# 1. get a string from the user
# 2. for each character in the string:
# 3.    if last character was upper, make this one lower
# 4.    if last character was lower, make the one upper

again

In [10]:
# Aru's solution

input_string = input("Enter a input word : ") # input ALWAYS return a string
make_cap = False

for input_letter in input_string:
    if make_cap:
        print(input_letter.upper(), end="")
        make_cap = False
    else:
        print(input_letter.lower(), end="")
        make_cap = True

Enter a input word :  golang

gOlAnG

In [11]:
s = 'string'

In [12]:
id(str)

4347441952

In [13]:
id(int)

4347403088

In [14]:
id(float)

4347394368

In [16]:
words = 'this that other'.split()

In [17]:
words

['this', 'that', 'other']

In [18]:
words.join(' ')

AttributeError: 'list' object has no attribute 'join'

In [19]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [20]:
words

['this', 'that', 'other']

In [21]:
' '.join(words)

'this that other'

In [23]:
', '.join(words)

'this, that, other'

In [24]:
count = 4

In [25]:
str(count)

'4'

In [26]:
count

4

In [27]:
print(count)

4

In [1]:
len('hi')

2

In [2]:
len([1, 2, 3])

3

In [3]:
nums = [1, 2]

In [4]:
's' in 'string'

True

In [5]:
3 in [1, 2, 3, 4]

True

In [6]:
for count in range(1, 11): # counting from 1 to 10
    print('hello!', count)

hello! 1
hello! 2
hello! 3
hello! 4
hello! 5
hello! 6
hello! 7
hello! 8
hello! 9
hello! 10

In [12]:
for _ in range(10): # "do something 10 times" (it could be that we are counting from 0 to 9)
    print('hello!')

hello! 0
hello! 1
hello! 2
hello! 3
hello! 4
hello! 5
hello! 6
hello! 7
hello! 8
hello! 9

In [13]:
nums = [1, 2, 5]

In [14]:
help(nums.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [15]:
nums = [1, 2, 5, 2, 2, 2]

In [16]:
nums.reverse()

In [17]:
nums

[2, 2, 2, 5, 2, 1]

In [18]:
for _ in range(3):
    nums.remove(2)

In [19]:
nums

[5, 2, 1]

In [20]:
nums.reverse()

In [21]:
nums

[1, 2, 5]

In [22]:
nums = [1, 2, 5, 2, 2, 2, 1, 3]

In [23]:
for index in range(len(nums) - 1, -1, -1):
    if nums[index] == 2:
        del nums[index]
        print('just deleted index', index)

just deleted index 5
just deleted index 4
just deleted index 3
just deleted index 1

In [25]:
nums = [1, 4, 3, -2, 7, 2]

In [26]:
sorted(nums)

[-2, 1, 2, 3, 4, 7]

In [27]:
nums

[1, 4, 3, -2, 7, 2]

In [28]:
sorted_nums = sorted(nums)

In [29]:
nums

[1, 4, 3, -2, 7, 2]

In [30]:
sorted_nums

[-2, 1, 2, 3, 4, 7]

In [31]:
nums

[1, 4, 3, -2, 7, 2]

In [32]:
nums

[1, 4, 3, -2, 7, 2]

In [33]:
nums.sort()

In [34]:
help(nums.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [35]:
str(1)

'1'

In [36]:
str_version_of_1 = str(1)

In [37]:
str_version_of_1

'1'

In [38]:
nums

[-2, 1, 2, 3, 4, 7]

In [39]:
nums.sort(reverse=True)

In [40]:
nums

[7, 4, 3, 2, 1, -2]

In [41]:
nums

[7, 4, 3, 2, 1, -2]

In [48]:
nums = [1, 4, 3, -2, 7, 2]

In [43]:
nums = sorted(nums) # wrong process, right answer, extra work ... don't do this!

In [44]:
nums

[-2, 1, 2, 3, 4, 7]

In [45]:
nums

[-2, 1, 2, 3, 4, 7]

In [49]:
nums = nums.sort() # right process, wrong answer, sorting was done in place, but you lost it...

In [50]:
print(nums)

None

In [52]:
return_value = print('hello')

hello

In [53]:
print(return_value)

None

In [54]:
sorted(4)

TypeError: 'int' object is not iterable

In [55]:
sorted([4])

[4]

In [56]:
sorted('starbucks')

['a', 'b', 'c', 'k', 'r', 's', 's', 't', 'u']

In [57]:
thing = input('Enter: ')

Enter:  apple fig pear

In [59]:
thing.split()

['apple', 'fig', 'pear']

In [60]:
thing = input('Enter: ').split()

Enter:  lemon lime guava apple fig fig

In [61]:
thing

['lemon', 'lime', 'guava', 'apple', 'fig', 'fig']

In [62]:
words = input('Enter: ').split()

Enter:  one two three

In [63]:
words

['one', 'two', 'three']

In [64]:
1 in [1, 3, 5]

True

In [65]:
2 in [1, 3, 5]

False

In [66]:
2 not in [1, 3, 5]

True

In [67]:
if 2 not in [1, 3, 5]:
    print('not there')

not there

In [68]:
if not 2 in [1, 3, 5]:
    print('not there')

not there

## Quick Lab: Lists
* Write a Python program to read in a list of items possibly containing duplicates, and then constructs a __new__ list containing the elements from the original list, in the order they were entered, but with duplicates only occurring ONCE in the new list, e.g.,
<p/>
<pre>
Enter a list of items: <b>apple cherry banana apple lemon cherry lemon</b>
apple cherry banana lemon

In [69]:
# Steps!
# 1. read a string
# 2. split it into a list
# 3. make a new empty list
# 4. for each item in the original list:
# 5.    if it's not in the new list:
# 6.       add it

In [80]:
input_string = input('Enter a list of items: ').lower()
words = input_string.split() # 1 and 2

Enter a list of items:  APPLE cherry banana Apple lemon cherry lemon

In [81]:
words

['apple', 'cherry', 'banana', 'apple', 'lemon', 'cherry', 'lemon']

In [87]:
no_dupe_words = [] # 3

for word in words: # 4
    if word not in no_dupe_words: # 5
        no_dupe_words.append(word) # 6

processing apple at position 0: adding to new list...
processing cherry at position 1: adding to new list...
processing banana at position 2: adding to new list...
processing apple at position 3: not adding cuz it's already in the new list
processing lemon at position 4: adding to new list...
processing cherry at position 5: not adding cuz it's already in the new list
processing lemon at position 6: not adding cuz it's already in the new list

In [79]:
no_dupe_words

['apple', 'cherry', 'banana', 'lemon']

## Group Lab: Lists
* Write a Python program to maintain a list 
  * Read input until the user enters 'quit'
  * Words that the user enters should be added to the list
  * If a word begins with '-' (e.g., '-foo') it should be removed from the list
  * If the user enters only a '-', the list should be reversed
  * After each operation, print the list
  * Extras:
      * If user enters more than one word (e.g, __foo bar__), add "foo" and "bar" to the list, rather than "foo bar"
      * Same for "-", i.e., __-foo bar__ would remove "foo" and "bar" from the  list

In [89]:
# while the user has not said 'quit', keep asking them to say something
while 'quit' not in input('Enter: '):
    print('keep going')

Enter:  command

keep going

Enter:  quit

In [94]:
command = input('Enter blah blah: ')
while 'quit' not in command:
    # process: add the word to the list
    print('add', command)
    command = input('Enter blah blah: ')

Enter blah blah:  apple

add apple

Enter blah blah:  fig

add fig

Enter blah blah:  quit

In [2]:
# let's only ask for input once
command = ''
while 'quit' not in command:
    # process: add the word to the list
    print('add', command)
    command = input('Enter blah blah: ')

add

Enter blah blah:  turn right

add turn right

Enter blah blah:  apple

add apple

Enter blah blah:  ok quit

In [3]:
# let's only ask for input once
command = ''
while 'quit' not in command:
    command = input('Enter blah blah: ')
    if 'quit' in command: # if they want to quit, leave
        break
    print('process', command)

Enter blah blah:  apple

process apple

Enter blah blah:  fig

process fig

Enter blah blah:  I want to quit

In [5]:
# let's only ask for input once
while True: # infinite loop
    command = input('Enter blah blah: ')
    if 'quit' in command: # if they want to quit, leave
        break
    print('process', command)

Enter blah blah:  this

process this

Enter blah blah:  that

process that

Enter blah blah:  go right

process go right

Enter blah blah:  quit i say

In [7]:
while (input_string = input('Enter: ')) != 'quit': 
    print('process input')

SyntaxError: invalid syntax (1348603320.py, line 1)

In [9]:
while (input_string := input('Enter: ')) != 'quit': 
    print('process', input_string)

Enter:  go right

process go right

Enter:  apple

process apple

Enter:  quit

In [11]:
words = []

while (word := input('Enter: ')) != 'quit': 
    words.append(word)
    print(words)

Enter:  apple

['apple']

Enter:  -apple

['apple', '-apple']

Enter:  quit

In [15]:
words = []

while (word := input('Enter: ')) != 'quit': # keep going until user enters 'quit'
    # look for '-' at beginning of word
    if word[0] == '-': # this is removal
        # need to remove the word without the hyphen at the beginning
        words.remove(word[1:])
    else: # did not start with -
        words.append(word)
    print(words)

Enter:  apple

['apple']

Enter:  fig

['apple', 'fig']

Enter:  pear

['apple', 'fig', 'pear']

Enter:  -fig

['apple', 'pear']

Enter:  -fig

ValueError: list.remove(x): x not in list

In [12]:
word = '-apple'

In [13]:
word[0]

'-'

In [14]:
word[1:]

'apple'

In [44]:
words = []

while (word := input('Enter: ')) != 'quit': # keep going until user enters 'quit'
    # look for '-' at beginning of word
    if word == '': # they just hit RETURN / ENTER
        continue
    if word[0] == '-': # first char is a - (this is removal or reversal of the list)
        if word == '-': # exactly a -, so reverse the list
            if len(words) < 2:
                print('Does not make sense to reverse a list with fewer than two items!')
            else:
                words = words[::-1] 
            #words.reverse()
        else:
            # need to remove the word without the hyphen at the beginning
            if word[1:] not in words:
                print(word, 'not in list!')
            else:
                words.remove(word[1:])
    else: # did not start with -
        words.append(word)
    print(words)

Enter:  apple fig pear

['apple fig pear']

Enter:  apple

['apple fig pear', 'apple']

Enter:  apple

['apple fig pear', 'apple', 'apple']

Enter:  -apple

['apple fig pear', 'apple']

Enter:  quit

In [16]:
word = '-apple'

In [17]:
word[0]

'-'

In [18]:
word == '-'

False

In [19]:
word = '-'

In [20]:
word[0]

'-'

In [21]:
word == '-'

True

In [36]:
word = ''

In [37]:
len(word)

0

In [38]:
word[0]

IndexError: string index out of range

In [39]:
word.startswith('-')

False

In [47]:
stuff = 'this that other'.split() # pythonic way to create a list

In [48]:
stuff

['this', 'that', 'other']

In [49]:
enumerate(stuff)

In [50]:
for index, word in enumerate(stuff):
    print(index, word)

0 this
1 that
2 other

In [51]:
import math

In [52]:
from math import sin, cos, pi

In [53]:
cos(0)

1.0

In [54]:
sin(pi / 2.0)

1.0

In [56]:
assert True

In [57]:
assert 3 > 4

AssertionError:

In [58]:
fruits = 'apple lemon cherry fig lime watermelon'.split()

In [59]:
fruits

['apple', 'lemon', 'cherry', 'fig', 'lime', 'watermelon']

In [60]:
len('string')

6

In [62]:
'string'[5]

'g'

In [64]:
list('string')

['s', 't', 'r', 'i', 'n', 'g']

In [66]:
'apple'[-1] in 'aeiouy'

True

In [67]:
'milk'[-1] in 'aeiouy'

False

In [68]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
print(list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [72]:
print(list(range(10, 31)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [74]:
print(list(range(5, 101, 5)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

## Lab: List Comprehensions
*  Start with Cartesian product example (colors x sizes of t-shirts) and add a third list, __`sleeves = ['short', 'long']`__ then write a new listcomp which generates the Cartesian product __`colors x sizes x sleeves`__. __`tshirts`__ should look like this:<pre><b>
    [['black', 'S', 'short'],
     ['black', 'S', 'long'],
     ['black', 'M', 'short'],
     ['black', 'M', 'long'],
     ['black', 'L', 'short'],
     ['black', 'L', 'long'],
     ['white', 'S', 'short'],
     ['white', 'S', 'long'],
     ['white', 'M', 'short'],
     ['white', 'M', 'long'],
     ['white', 'L', 'short'],
     ['white', 'L', 'long']]
     
 </b></pre>
* Use a list comprehension to create a list of the squares of the integers from 1 to 25 (i.e, 1, 4, 9, 16, …, 625)
* Given a list of words, create a second list which contains all the words from the first list which do not end with a vowel
* Use a list comprehension to create a list of the integers from 1 to 100 which are not divisible by 5
* Use a list comprehension and __`zip()`__ to create a list of lists, where the list items are name and ID number that you grabbed from separate lists of names and ID numbers
  * start with a list of, say, 5 names ['John', 'Mary', 'Edward', 'Linda', 'Dinesh']
  * and a list of, say, 5 ID numbers [1003, 2043, 8762, 7862, 1093]
  * additional wrinkle: do not include any names whose corresponding ID is -1

In [75]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L', 'XL']
sleeves = ['short', 'long']

In [79]:
tshirts = [[color, size, sleeve] for color in colors
                                    for size in sizes
                                       for sleeve in sleeves]
tshirts

[['black', 'S', 'short'],
 ['black', 'S', 'long'],
 ['black', 'M', 'short'],
 ['black', 'M', 'long'],
 ['black', 'L', 'short'],
 ['black', 'L', 'long'],
 ['black', 'XL', 'short'],
 ['black', 'XL', 'long'],
 ['white', 'S', 'short'],
 ['white', 'S', 'long'],
 ['white', 'M', 'short'],
 ['white', 'M', 'long'],
 ['white', 'L', 'short'],
 ['white', 'L', 'long'],
 ['white', 'XL', 'short'],
 ['white', 'XL', 'long']]

In [86]:
# squares 1..25
squares = [num ** 2 for num in range(1, 26)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

In [85]:
words = 'apple fig pear banana guava lime lemon'.split()
no_end_in_vowel = [word for word in words 
                            if word[-1] not in 'aeiou']
print(no_end_in_vowel)

['fig', 'pear', 'lemon']

In [87]:
no_divis_by_5 = [num for num in range(1, 101)
                         if num % 5 != 0]
print(no_divis_by_5)

[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99]

In [88]:
names = ['John', 'Mary', 'Edward', 'Linda', 'Dinesh']
ids = [1003, 2043, 8762, 7862, 1093]
employees = [[name, id] for name, id in zip(names, ids)]
print(employees)

[['John', 1003], ['Mary', 2043], ['Edward', 8762], ['Linda', 7862], ['Dinesh', 1093]]

In [89]:
ids = [1003, 2043, -1, 7862, -1]
employees = [[name, id] for name, id in zip(names, ids)
                            if id != -1]
print(employees)

[['John', 1003], ['Mary', 2043], ['Linda', 7862]]

In [90]:
one_element_list = [3]

In [91]:
quot, rem = divmod(23, 7) # tuple unpacking

In [92]:
quot

3

In [94]:
rem

2

In [95]:
divmod(23, 7)

(3, 2)

In [96]:
t = 1, 2, 3

In [97]:
t

(1, 2, 3)

In [98]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [99]:
'Star' + 'bucks'

'Starbucks'

In [101]:
t + (4, 5)

(1, 2, 3, 4, 5)

In [102]:
t = t + (4, 5)

In [103]:
t

(1, 2, 3, 4, 5)

## Lab: Tuples
* We don't really know enough yet to use a tuple in interesting ways, so instead let's just tinker around with tuples here in the notebook...
  * Create a tuple representing a city w/fields of your own choosing (e.g., city name, state/country, population, elevation, etc.)
  * "Add" a field to the tuple–since tuples are immutable, you will have to do this by concatenating tuples
  * Using the _in_ operator, check to see if a particular value is in the tuple
  * Using the __`.index()`__ method, find the position of a particular value in the tuple

In [117]:
city = 'Jakarta', 'Indonesia', 255.4, 26, '22-June-1527'
city

('Jakarta', 'Indonesia', 255.4, 26, '22-June-1527')

In [116]:
city + (10.56,)

('Jakarta', 'Indonesia', 255.4, 26, '22-June-1527', 10.56)

In [118]:
city = city + (10.56,)

In [119]:
city

('Jakarta', 'Indonesia', 255.4, 26, '22-June-1527', 10.56)

In [121]:
'Indonesia' in city

True

In [110]:
city.index(10.56)

5

In [123]:
for index, field in enumerate(city):
    print(index, field)

0 Jakarta
1 Indonesia
2 255.4
3 26
4 22-June-1527
5 10.56

In [124]:
city[0]

'Jakarta'

In [125]:
city[-1]

10.56

In [126]:
nums = 1, 2, 6, -7, 18

In [127]:
nums

(1, 2, 6, -7, 18)

In [128]:
x, y = 1, 3

In [129]:
x, y = y, x

In [130]:
x

3

In [131]:
y

1

In [132]:
t = 1, 1, 1

In [133]:
t

(1, 1, 1)

In [134]:
name = 'toan'

In [135]:
name[0] = 'T'

TypeError: 'str' object does not support item assignment

In [136]:
name = 'Toan'

In [137]:
# not a real matrix, just a list of lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [138]:
type(matrix)

list

In [139]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [140]:
matrix[0]

[1, 2, 3]

In [141]:
matrix[0][0]

1

In [142]:
my_dict = {}

In [143]:
type(my_dict)

dict

In [144]:
d = { 'X': 10, 'V': 5, 'I': 1 } # can be initialized when declared

In [145]:
d['X']

10

In [146]:
d['I']

1

In [147]:
d[1]

KeyError: 1

In [148]:
d

{'X': 10, 'V': 5, 'I': 1}

In [149]:
for thing in d:
    print(thing)

X
V
I

In [150]:
for thing in d:
    print(thing, d[thing])

X 10
V 5
I 1

In [151]:
d

{'X': 10, 'V': 5, 'I': 1}

In [152]:
keys = d.keys()

In [153]:
keys

dict_keys(['X', 'V', 'I'])

In [154]:
type(keys)

dict_keys

In [155]:
d

{'X': 10, 'V': 5, 'I': 1}

In [158]:
10 in d

False

In [159]:
10 in d.values()

True

In [167]:
d = { 'foo': 45 }

In [168]:
print(d['foo'])

45

In [169]:
print(d.get('foo'))

45

In [170]:
'foo' in d

True

In [171]:
d

{'foo': 45}

In [173]:
d = {'venti': 20, 'tall': 12, 'grande': 16}

In [175]:
sorted(d)

['grande', 'tall', 'venti']

In [174]:
for thing in d:
    print(thing)

venti
tall
grande

In [176]:
d

{'venti': 20, 'tall': 12, 'grande': 16}

In [177]:
d.get('venti')

20

In [178]:
d['venti']

20

## Lab: dictionary
* use a dict to translate Roman numerals into their Hindu-Arabic equivalents
1. load the dict with Roman numerals M (1000), D (500), C (100), L (50), X (10), V (5), I (1)
2. read in a Roman numeral
3. print Arabic equivalent
4. try it with MCLX = 1000 + 100 + 50 + 10 = 1160
4. __The rest of this could be homework...__
4. __Deal with the case where a smaller number precedes a larger number, e.g., XC = 100 - 10 = 90, or MCM = 1000 + (1000-100) = 1900__
  * e.g.,  __MCMXCIX = 1999__

In [182]:
roman_to_hindu_arabic = {
    'M': 1000,
    'D': 500,
    'C': 100,
    'L': (50),
    'X': (10),
    'V': (5),
    'I': (1),
}

In [ ]:
# If you want to do the homework...
# Roman numerals including the complication
# MCMXCIX = 1999
# 1. get the number from the user, e.g., MCMXCIX
# 2. PASS 1: convert each digit to Hindu-Arabic equivalent and put into a list
# [ 1000, 100, 1000, 10, 100, 1, 10 ] (2221)
# 3. PASS 2: check each number in the list
# 4.    if a number is less than its neighbor (to the right), make it negative
# [ 1000, -100, 1000, -10, 100, -1, 10 ] (1999)

In [ ]:
# MCLX = 1160
# XI = 11
# CCCIII = 303
# DCCI = 701

In [180]:
# 1. get a Roman numeral from user
# 1a. start with a running Hindu-Arabic total of 0
# 2. for each digit in the roman numeral:
# 3.   plug it into the dict and get Hindu-Arabic equivalent
# 4.   add Hindu-Arabic equivalent to the running total
# 5. print out running total

In [188]:
roman = input('Enter a Roman numeral: ') # 1

Enter a Roman numeral:  MCAX

In [190]:
running_total = 0 # 1a
for digit in roman: # 2
    # what could go wrong here?
    if digit not in roman_to_hindu_arabic:
        print('bad digit', digit)
    else:
        running_total += roman_to_hindu_arabic[digit] # 3, 4

print(running_total)

bad digit A
1110

In [187]:
# more complex version including negatives
roman = input('Enter a Roman numeral: ')
hindu_arabic_vals = [] # to hold the translated values
# PASS 1
for digit in roman: # for each Roman digit
    hindu_arabic_vals.append(roman_to_hindu_arabic[digit]) # append Hindu-Arabic val to list

print(hindu_arabic_vals) # debugging
# PASS 2
for index in range(len(hindu_arabic_vals) - 1): # for each Hindu-Arabic value
    if hindu_arabic_vals[index] < hindu_arabic_vals[index + 1]: # less than neighbor?
        hindu_arabic_vals[index] = -hindu_arabic_vals[index] # make it negative

print(hindu_arabic_vals) # debugging
print(sum(hindu_arabic_vals))

Enter a Roman numeral:  MCMXCIX

[1000, 100, 1000, 10, 100, 1, 10]
[1000, -100, 1000, -10, 100, -1, 10]
1999

In [198]:
# Anastacia's solution, use .get()
running_total = 0 # 1a
for digit in roman: # 2
    # what could go wrong here?
    # if digit is invalid (and therefore not in dict), we can have get() return a 0
    running_total += roman_to_hindu_arabic.get(digit, 0) # 3, 4

print(running_total)

1110

In [193]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [194]:
d = {}

In [197]:
print(d.get('anything', 0))

0

In [294]:
roman = input('Enter a Roman numeral: ') # 1

running_total = 0 # 1a
for digit in roman: # 2
    # what could go wrong here?
    """
    if digit not in roman_to_hindu_arabic:
        print('bad digit', digit)
        break
    else:
        running_total += roman_to_hindu_arabic[digit] # 3, 4
    """
else: # this gets run iff we didn't break
    print(running_total)

Enter a Roman numeral:  MCLX

0

In [202]:
hash('Python')

-936087975327120608

In [203]:
hash('Python')

-936087975327120608

In [204]:
s = { 1, 2, 5, 6 }

In [205]:
type(s)

set

In [206]:
s[0]

TypeError: 'set' object is not subscriptable

In [207]:
import random

In [ ]:
nums = [random.randint(1, 100) for _ in range(100)] # nums is a list of 100 random ints from 1 .. 100

In [210]:
nums = []
for _ in range(100): # 100 times...
    nums.append(random.randint(1, 100))

In [211]:
print(nums)

[45, 69, 60, 43, 32, 27, 23, 91, 65, 16, 34, 78, 79, 55, 18, 83, 70, 76, 25, 53, 98, 7, 15, 7, 20, 88, 5, 14, 33, 79, 5, 60, 59, 88, 82, 86, 60, 36, 33, 90, 56, 36, 38, 15, 74, 98, 71, 52, 93, 19, 70, 41, 34, 69, 65, 96, 45, 86, 86, 6, 52, 34, 10, 41, 71, 64, 50, 32, 36, 5, 25, 37, 1, 46, 77, 1, 17, 68, 47, 97, 27, 18, 14, 63, 17, 75, 53, 58, 68, 56, 95, 27, 18, 81, 12, 29, 45, 44, 98, 48]

In [212]:
len(nums)

100

In [215]:
nums = list(set(nums))

In [216]:
print(nums)

[1, 5, 6, 7, 10, 12, 14, 15, 16, 17, 18, 19, 20, 23, 25, 27, 29, 32, 33, 34, 36, 37, 38, 41, 43, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 58, 59, 60, 63, 64, 65, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 81, 82, 83, 86, 88, 90, 91, 93, 95, 96, 97, 98]

In [208]:
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [209]:
help(random.randrange)

Help on method randrange in module random:

randrange(start, stop=None, step=1) method of random.Random instance
    Choose a random item from range(start, stop[, step]).

    This fixes the problem with randint() which includes the
    endpoint; in Python this is usually not what you want.

In [217]:
mylist = 'one two three four'.split()

In [219]:
mylist

['one', 'two', 'three', 'four']

In [220]:
mylist.pop()

'four'

In [221]:
mylist.pop(1)

'two'

In [222]:
mylist

['one', 'three']

In [223]:
if 5 > 3:
    print('yep')

yep

In [225]:
if 'X' in 'Starbucks':
    print('yep')

In [228]:
if 0.0:
    print('yep')

In [233]:
remainder = 32 % 8

In [234]:
if remainder:
    print('not a factor')

In [242]:
user_input = input('Enter something: ')

Enter something:

In [243]:
if len(user_input) > 0:
    print('you entered', user_input)

In [245]:
if user_input: # i.e., if the user_input is non-empty, i.e., not ''
    print('yep')

## Lab: Sets
* Use a set to find all of the unique words in the input and print them out in sorted order
* If the user entered __There is no there there__, your program should print out 
   <pre><b>
   is
   no
   there
   </b></pre>
* Note that `There` and `there` should be counted as the same word.

In [247]:
input('Enter some words: ').lower().split()

Enter some words:  There is no there there

['there', 'is', 'no', 'there', 'there']

In [251]:
print('\n'.join(sorted(set(input('Enter some words: ').lower().split()))))

Enter some words:  There is no there there

is
no
there

In [253]:
words = input('Enter some words: ').lower().split()

Enter some words:  There is no there there

In [254]:
words

['there', 'is', 'no', 'there', 'there']

In [256]:
no_dupe_words = sorted(set(words))

In [257]:
no_dupe_words

['is', 'no', 'there']

In [258]:
print('\n'.join(no_dupe_words))

is
no
there

In [263]:
print(*no_dupe_words) # * = "unpack" operator ("explode")

is no there

In [260]:
print(no_dupe_words) # how many objects are being printed?

['is', 'no', 'there']

In [262]:
print(*no_dupe_words, sep='\n') # same as print(no_dupe_words[0], no_dupe_words[1], no_dupe_words[2])

is
no
there

In [268]:
with open('poem.txt') as infile:
    for line in infile:
        print(line, end='') # don't add a second \n

TWO roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.

## Quick Lab: File I/O
* write a Python program which prompts the user for a filename, then opens that file and writes the contents of the file to a new file, in reverse order, i.e.,

<pre><b>
    Original file       Reversed file
    Line 1              Line 4
    Line 2              Line 3
    Line 3              Line 2
    Line 4              Line 1
</b></pre>

In [269]:
filename = input('Enter file to read from: ')

Enter file to read from:  poem.txt

In [277]:
with open(filename) as infile: # open filename for reading
    lines = infile.readlines()

In [278]:
lines

['TWO roads diverged in a yellow wood,\n',
 'And sorry I could not travel both\n',
 'And be one traveler, long I stood\n',
 'And looked down one as far as I could\n',
 'To where it bent in the undergrowth;\n',
 '\n',
 'Then took the other, as just as fair,\n',
 'And having perhaps the better claim,\n',
 'Because it was grassy and wanted wear;\n',
 'Though as for that the passing there\n',
 'Had worn them really about the same,\n',
 '\n',
 'And both that morning equally lay\n',
 'In leaves no step had trodden black.\n',
 'Oh, I kept the first for another day!\n',
 'Yet knowing how way leads on to way,\n',
 'I doubted if I should ever come back.\n',
 '\n',
 'I shall be telling this with a sigh\n',
 'Somewhere ages and ages hence:\n',
 'Two roads diverged in a wood, and I—\n',
 'I took the one less traveled by,\n',
 'And that has made all the difference.\n']

In [284]:
with open(filename + '.rev', 'w') as outfile:
    print(''.join(lines[::-1]), file=outfile)

In [280]:
print(''.join(lines[::-1]))

And that has made all the difference.
I took the one less traveled by,
Two roads diverged in a wood, and I—
Somewhere ages and ages hence:
I shall be telling this with a sigh

I doubted if I should ever come back.
Yet knowing how way leads on to way,
Oh, I kept the first for another day!
In leaves no step had trodden black.
And both that morning equally lay

Had worn them really about the same,
Though as for that the passing there
Because it was grassy and wanted wear;
And having perhaps the better claim,
Then took the other, as just as fair,

To where it bent in the undergrowth;
And looked down one as far as I could
And be one traveler, long I stood
And sorry I could not travel both
TWO roads diverged in a yellow wood,

In [282]:
print(*lines[::-1], sep='')

And that has made all the difference.
I took the one less traveled by,
Two roads diverged in a wood, and I—
Somewhere ages and ages hence:
I shall be telling this with a sigh

I doubted if I should ever come back.
Yet knowing how way leads on to way,
Oh, I kept the first for another day!
In leaves no step had trodden black.
And both that morning equally lay

Had worn them really about the same,
Though as for that the passing there
Because it was grassy and wanted wear;
And having perhaps the better claim,
Then took the other, as just as fair,

To where it bent in the undergrowth;
And looked down one as far as I could
And be one traveler, long I stood
And sorry I could not travel both
TWO roads diverged in a yellow wood,

In [285]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [286]:
x = 1

In [289]:
x: int = 1 # type hint... x should be an int

In [290]:
x = 1.5

In [291]:
string = """this
string continues on
several lines"""

In [293]:
print(string)

this
string continues on
several lines

In [295]:
import math
help(math.sin)

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [297]:
retval = print('print this')

print this

In [298]:
print(retval)

None

In [301]:
mylist = [1, 43, 32, 18]

In [302]:
mylist = mylist.sort()

In [303]:
print(mylist)

None

In [304]:
print(1, 2, 3) # 1, 2, and 3 are *positional* arguments

1 2 3

In [306]:
print(1, 2, 3, sep=' / ') # sep= is a keyword argument

1 / 2 / 3

## Lab: functions
* write at least one of these functions, take your pick...
  * __`calculate`__ which is passed two operands and an operator and returns the calculated result, e.g., __`calculate(2, 4, '+')`__ would return 6
  * Given a string, the function returns True or False whether the string is a pangram
  * Given an integer as a parameter, the function sums up its digits. If the resulting sum contains more than 1 digit, the function should sum the digits again, e.g., __`sumdigits(1235)`__ should compute the sum of 1, 2, 3, and 5 (11), then compute the sum of 1 and 1, returning 2.
  * Given a number as a parameter and returns a string version of the number with commas representing thousands, e.g., __`add_commas(12345)`__ would return "12,345"
  * Demonstrate the Collatz Conjecture:
    * for integer n > 1
      * if n is even, then __`n = n // 2`__
      * if n is odd, then __`n = n * 3 + 1`__
    * ...will always converge to 1
    * your function should take n and keep printing new value of n until n is 1 and then return
  * given a 4-digit number where not all digits are the same, demonstrate __Kaprekar's Constant__ <pre>(6174)</pre>
    * sort the digits of the number into descending and ascending order...
    * then calculate the difference between the two new numbers
    * keep doing the above until you get to 6174 (you always will)
    * e.g., starting with the number 8991:
    <br/><br/>
    <pre>
      9981 – 1899 = 8082
      8820 – 0288 = 8532
      8532 – 2358 = 6174
      7641 – 1467 = 6174
    </pre>

In [332]:
def collatz(n):
    if type(n) != int: # argument must be an integer
        raise TypeError('collatz function needs to be passed an integer')
    # if we get here, then it means we got an int
    if n <= 1:
        raise ValueError('collatz needs to start with an int >= 2')
    # if we get here, what do we know?
    # we have an integer, and it is >= 2
    count = 0
    while n != 1: # n > 1
        count += 1
        print(f'{n:7d}', end=' ')
        if count % 10 == 0: # we've printed a multiple of 10 numbers
            print()
        if n % 2 == 0: # is even?
            n //= 2 # n = n // 2 divide by 2
        else: # it's odd...
            n = n * 3 + 1
    print(f'{1:7d}')

In [317]:
collatz(1024)

1024 512 256 128 64 32 16 8 4 2 1

In [318]:
collatz(35)

35 106 53 160 80 40 20 10 5 16 8 4 2 1

In [333]:
collatz(6171)

   6171   18514    9257   27772   13886    6943   20830   10415   31246   15623
  46870   23435   70306   35153  105460   52730   26365   79096   39548   19774
   9887   29662   14831   44494   22247   66742   33371  100114   50057  150172
  75086   37543  112630   56315  168946   84473  253420  126710   63355  190066
  95033  285100  142550   71275  213826  106913  320740  160370   80185  240556
 120278   60139  180418   90209  270628  135314   67657  202972  101486   50743
 152230   76115  228346  114173  342520  171260   85630   42815  128446   64223
 192670   96335  289006  144503  433510  216755  650266  325133  975400  487700
 243850  121925  365776  182888   91444   45722   22861   68584   34292   17146
   8573   25720   12860    6430    3215    9646    4823   14470    7235   21706
  10853   32560   16280    8140    4070    2035    6106    3053    9160    4580
   2290    1145    3436    1718     859    2578    1289    3868    1934     967
   2902    1451    4354    2177    6532    3266    1633    4900    2450    1225
   3676    1838     919    2758    1379    4138    2069    6208    3104    1552
    776     388     194      97     292     146      73     220     110      55
    166      83     250     125     376     188      94      47     142      71
    214     107     322     161     484     242     121     364     182      91
    274     137     412     206     103     310     155     466     233     700
    350     175     526     263     790     395    1186     593    1780     890
    445    1336     668     334     167     502     251     754     377    1132
    566     283     850     425    1276     638     319     958     479    1438
    719    2158    1079    3238    1619    4858    2429    7288    3644    1822
    911    2734    1367    4102    2051    6154    3077    9232    4616    2308
   1154     577    1732     866     433    1300     650     325     976     488
    244     122      61     184      92      46      23      70      35     106
     53     160      80      40      20      10       5      16       8       4
      2       1

In [320]:
collatz(19)

19 58 29 88 44 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1

In [312]:
collatz(3.5)

TypeError: collatz function needs to be given an integer

In [315]:
collatz(-1)

ValueError: collatz needs to start with an int >= 2

In [308]:
int('one')

ValueError: invalid literal for int() with base 10: 'one'

In [309]:
import math
math.sqrt(25)

5.0

In [ ]:
math.sqrt('25')

In [326]:
x = 2123
y = 5
print(f'{x:5d} * {y:5d} = {x * y}')

 2123 *     5 = 10615

In [334]:
something = 1

In [335]:
type(something)

int